@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #161616;
}

main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  box-shadow: 8px 8px 20px black;
  background-color: #161616;
  border-radius: 15px;
}

.animated-image {
  width: 60%;
  height: 60%;
  margin: 0px auto;
}

.header-container {
  display: block;
}

.title-container {
  display: block;
  font-size: clamp(30px, 5vw, 40px);
  letter-spacing: 3px;
  color: #d75413;
  text-align: center;
  margin-bottom: 30px;
}

hr {
  width: 90%;
  margin: 0 auto;
  border-color: #d75413;
}

.body-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-container {
  margin: 20px 10px;
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  border-radius: 8px;
}

.card-image {
  width: 80%;
  height: 80%;
  display: block;
  object-fit: cover;
  box-shadow: 4px 4px 4px #d26b38, 8px 8px 8px black;
  border-radius: 8px;
}

.card-body {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2px;
}

.card-body h4 {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #d26b38;
  letter-spacing: 2px;
  font-size: clamp(15px, 5vw, 20px);
  text-shadow: 1px 0px 1px #d26b38, 8px 8px 4px black;
}

.card-image:hover {
  transform: scale(1.09);
  transition: all 0.5s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 260px;
    height: 260px;
  }
  .animated-image {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    width: 200px;
    height: 200px;
  }
  .card-body {
    margin-top: 10px;
  }
  .card-body h4 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 564px) {
  .container {
    margin: 30px;
  }
  .card {
    width: clamp(100%, 20%, 100%);
    width: clamp(100%, 20%, 100%);
  }

  .title-container {
    font-size: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .animated-image {
    width: clamp(100%, 20%, 100%);
    width: clamp(100%, 20%, 100%);
  }
  .title-container {
    font-size: 20px;
  }
}
